h1 {
    color: darkred;
}

.loader {
    position: absolute;
    top: 50%;
    left: 47%;
}

/* label focus color */
 .input-field input:focus + label {
   color: #64b5f6 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #64b5f6 !important;
   box-shadow: 0 1px 0 0 #64b5f6 !important
 }