{% load static %}
{% block content %}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="material-icons">add</i>
        </a>
    <ul>
        <li>
            <a href="#post-modal" class="modal-trigger btn-floating blue white-text">
                <i class="material-icons">mode_edit</i>
                Submit
            </a>
        </li>
        <li>
            <a href="#category-modal" class="modal-trigger btn-floating blue">
                <i class="material-icons">folder</i>
            </a>
        </li>
        <li>
            <a href="#user-modal" class="modal-trigger btn-floating blue">
                <i class="material-icons">supervisor_account</i>
            </a>
        </li>
    </ul>
    </div>

    <!-- Section: Add Post Modal -->
    <div id="post-modal" class="modal">
        <div class="modal-content">
            <h4>Add Post</h4>
            <form action="">
                <div class="input-field">
                    <input type="text" id="title">
                    <label for="title">Title</label>
                </div>
                <div class="input-field">
                    <select name="" id="">
                        <option value="" disabled selected>Select Option</option>
                        <option value="1">App Development</option>
                        <option value="2">Graphic Design</option>
                        <option value="3">Tech Development</option>
                        <option value="4">Other</option>
                    </select>
                    <label for="">Category</label>
                </div>
                <div class="input-field">
                    <textarea name="body" id="body" class="materialize-textarea"></textarea>
                    <label for="body"></label>
                </div>
            </form>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close btn blue white-text">Submit</a>
            </div>
        </div>
    </div>

    <!-- Section: Add Category Post Modal -->
    <div id="category-modal" class="modal">
        <div class="modal-content">
            <h4>Add Category</h4>
            <form action="">
                <div class="input-field">
                    <input type="text" id="title">
                    <label for="title">Title</label>
                </div>
            </form>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close btn blue white-text">Submit</a>
            </div>
        </div>
    </div>

    <!-- Section: Add User Post Modal -->
    <div id="user-modal" class="modal">
        <div class="modal-content">
            <h4>Add User</h4>
            <form action="">
                <div class="input-field">
                    <input type="text" id="name">
                    <label for="name">Name</label>
                </div>
                <div class="input-field">
                    <input type="email" id="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password">
                    <label for="password">Password</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password2">
                    <label for="password2">Confirm Password</label>
                </div>
            </form>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close btn blue white-text">Submit</a>
            </div>
        </div>
    </div>



{% endblock %}