{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/162ff428c2.js" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
</head>
<body class="grey lighten-3">

<nav class="blue darken-2">
    <div class="container">
        <div class="nav-wrapper">
      <a href="{% url 'app:index' %}" class="brand-logo">JDEVS Dashboard</a>
        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="{% url 'app:index' %}">Dashboard</a></li>
            <li><a href="{% url 'app:posts' %}">Posts</a></li>
            <li><a href="{% url 'app:categories' %}">Categories</a></li>
            <li><a href="{% url 'app:comments' %}">Comments</a></li>
            <li><a href="{% url 'app:users' %}">Users</a></li>
            <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large right"><i class="material-icons">menu</i></a></li>
        </ul>


        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="{% static 'images/ocean.jpg' %}" alt="">
                    </div>
                    <a href="#user"><img class="circle" src="{% static 'images/moi.png' %}"></a>
                    <a href="#name"><span class="white-text name">Julio Briones</span></a>
                    <a href="#email"><span class="white-text email">contact@jdevs.mx</span></a>
                </div>
            </li>
            <li class="active">
                <a href="{% url 'app:index' %}">
                    <i class="material-icons">dashboard</i>
                    Dashboard
                </a>
            </li>
            <li><a href="{% url 'app:posts' %}">Posts</a></li>
            <li><a href="{% url 'app:categories' %}">Categories</a></li>
            <li><a href="{% url 'app:comments' %}">Comments</a></li>
            <li><a href="{% url 'app:users' %}">Users</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Account Controls</a></li>
            <li><a class="waves-effect" href="{% url 'app:logout' %}">Logout</a></li>
        </ul>


    </div>
    </div>
  </nav>

{% block content %}

{% endblock %}

{% block javascript %}

        <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">

    </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script type="text/javascript">
        // Hide Sections
        $('.section').hide()

        setTimeout(function () {
            $(document).ready(function () {
                //Show Sections
                $('.section').fadeIn();

                // Hide Preloader
                $('.loader').fadeOut();

                //Custom JS & JQuery here
                $('.sidenav').sidenav();

                // Generic Counter, used as it is
                $('.count').each(function () {
                    $(this).prop('Counter', 0).animate({
                        Counter: $(this).text()
                    }, {
                        duration: 1000,
                        easing: "swing",
                        step: function (now) {
                            $(this).text(Math.ceil(now));
                        }
                    });
                });

                // Comments Approve & Deny
                $('.approve').click(function (e) {
                    M.toast({
                        html: "Comment approved",
                        displayLength: 3000
                    })
                    e.preventDefault()
                });
                $('.deny').click(function (e) {
                    M.toast({
                        html: "Comment denied",
                        displayLength: 3000
                    })
                    e.preventDefault()
                });

            });
        }, 1000)

    </script>
{% endblock %}
</body>
</html>