{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <!-- Section: Stats -->
    {% include 'app/stats.html' %}

    <!-- Section: Visitors -->
    {% include 'app/visitors.html' %}

    <!-- Section: Recent Posts & Todos -->
    {% include 'app/posts_todos.html' %}

    <!-- Section Footer -->
    {% include 'app/footer.html' %}

    <!-- Fixed Action Button -->
    {% include 'app/action_button.html' %}

    <!-- Section: Preloader -->
    <div class="loader preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

{% endblock %}